:root {
    --brand-blue: #51a3d6;
    --brand-gray: #5b5b5b;
    --accent-dark: #0f415c;
    --brand-blue-dark: #4295cc;
    --accent-light: #A4D9F5;
    --background-blue: #EAF7FE;
    --background-gray: #EFEFEF;
}

body {
    font-family: Titillium Web, sans-serif;
    color: var(--brand-gray);
    background-color: var(--background-blue);
    display:flex;
    flex-flow: column;    
    align-items: center;
    min-width: 450px;
}

.link {
    color: var(--accent-dark)
}

.container {
    width: 600px;
    height: 90vh;
    background-color: var(--accent-light);
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    border-radius: 16px;
}

.calcLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.dsplay {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: orbitron,monospace;
    background-color: var(--background-gray);
    margin: 10px;
    padding: 10px;
    text-align: right;
    border-radius: 4px;
    min-height: 100px;
}

.dsply1 {
    font-size: 30px;
    padding: 5px;
}

.dsply2 {
    font-size: 60px;
}

.buttonContainer {
    display:flex;
    flex-flow: column;
    min-width: 350 px;
    background-color: var(--background-blue);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    
}

.numPad {
    display: flex;
    flex-flow: column;
    /* grid-row: 3;
    grid-column: 3; */
}

.numPadRow {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.button {
    border-radius: 8px;
    width: 15%;
    margin: 2px;
    font-weight: bold;
    min-width: 4em;
}

.numBtn {
    background-color: var(--accent-light)
};

.fnBtnEmpty {
    background-color: var(--accent-dark)
}

.btnHighlight {
    background: yellow;
};
